.content {
    width: 100%;
    padding: var(--sz-32);
    gap: var(--sz-32);
}
.content-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.content-article-text {
    /* flex-grow: 1; */
    width: 65%;
}
.content-article-text h2 {
    font-size: var(--text-3xl);
    font-weight: 600;
    color: var(--primary-color-dark);
}
.content-article-text p {
    font-size: var(--text-base);
    font-weight: 400;
    color: var(--primary-color-dark);
    margin-bottom: var(--sz-5);
}
.content-article-img {
    width: 30%;
    /* flex-grow: 1; */
    /* overflow: hidden; */

}
.content-article-img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;

    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .content-article {
        /* gap: var(--sz-10); */
        width: 100%;
    }
    .content {
        padding: var(--sz-24);
    }
    .content-article-text {
        width: 55%;
    }
    .content-article-text h3 {
        font-size: var(--text-2xl);
    }
    .content-article-text p {
        font-size: var(--text-base);
    }
    .content-article-img {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        gap: var(--sz-16);
        padding: var(--sz-8);
    }
    .content-article {
        flex-direction: column;
        gap: var(--sz-10);
    }
    .content-article-text {
        width: 100%;
        text-align: center;
    }
    .content-article-text p {
        font-size: var(--text-lg);
    }
    .content-article-img {
        width: 50%;
    }
    .about-website .content-article-text {
        order: 2;
    }
    .about-website .content-article-img {
        order: 1;
    }

}

@media screen and (max-width: 425px) {
    .content-article-img {
        width: 60%;
    }
}
