/* 
    RMIT University Vietnam
    Course: COSC2430 Web Programming
    Semester: 2023A
    Assessment: Assignment 1
    Author: Tran Mai Nhung
    ID: s3879954
    Acknowledgement: 
        [1] “Styling Form Inputs in CSS With :required, :optional, :valid and :invalid | DigitalOcean.” https://www.digitalocean.com/community/tutorials/css-styling-form-input-validity (accessed Aug. 12, 2023).
        [2] S. Eckles, “Pure CSS Custom Styled Radio Buttons,” Modern CSS Solutions. https://moderncss.dev/pure-css-custom-styled-radio-buttons/ (accessed Aug. 12, 2023).
        [3] “Pure CSS Custom Checkbox Style | Modern CSS Solutions.” https://moderncss.dev/pure-css-custom-checkbox-style/ (accessed Aug. 12, 2023).
        [4] N. Merouze, “problem with <select> and :after with CSS in WebKit,” Stack Overflow, May 14, 2013. https://stackoverflow.com/q/3532649 (accessed Aug. 12, 2023).
        [5]: :“placeholder | CSS-Tricks - CSS-Tricks.” https://css-tricks.com/almanac/selectors/p/placeholder/ (accessed Aug. 12, 2023).
        [6] user549757, “How do I disable the resizable property of a textarea?,” Stack Overflow, Oct. 21, 2022. https://stackoverflow.com/q/5235142 (accessed Aug. 12, 2023).
        [7] Raz, “How can I make Flexbox children 100% height of their parent?,” Stack Overflow, Apr. 01, 2020. https://stackoverflow.com/q/15381172 (accessed Aug. 12, 2023).
        [8] “Awesome CSS Select Styles You Can Use Right Now.” https://www.sliderrevolution.com/resources/css-select-styles/ (accessed Aug. 12, 2023).
        [9] D. Thomas, “Answer to ‘problem with <select> and :after with CSS in WebKit,’” Stack Overflow, Aug. 20, 2010. https://stackoverflow.com/a/3533807 (accessed Aug. 12, 2023).
        [10] “Answer to ‘How do I disable the resizable property of a textarea?,’” Stack Overflow, May 28, 2018. https://stackoverflow.com/a/50560918 (accessed Aug. 12, 2023).
        [11] yevgeniy, “Answer to ‘How do I disable the resizable property of a textarea?,’” Stack Overflow, Feb. 12, 2015. https://stackoverflow.com/a/28477225 (accessed Aug. 12, 2023).
        [12] 何魏奇 A. W. H., “Answer to ‘How can I make Flexbox children 100% height of their parent?,’” Stack Overflow, Feb. 09, 2021. https://stackoverflow.com/a/66115233 (accessed Aug. 12, 2023).

 */
body {
    /* background-color: var(--white); */
    background: linear-gradient(-48deg, var(--dark-brown) 35%, var(--dark-tan) 45%, var(--white) 30%);
}

.content {
    flex-direction: row;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    padding: 0 0 var(--sz-20);
}

/* right */
.content-right {
    flex-grow: 1;
    /* height: max-content; */
    display: flex;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: flex-end;
}

.content-right-img {
    width: 65%;
    object-fit: contain;
    object-position: center;
}

/* left */
.content-left {
    align-self: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: var(--sz-5);

    width: 40%;
    height: 80%;

    padding: var(--sz-10) var(--sz-16);

    /* border: 1px solid var(--primary-color-dark); */
    border-top-right-radius: var(--sz-12);
    border-bottom-right-radius: var(--sz-12);
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    /* background-color: var(--primary-color-light); */
    background-color: var(--primary-color-light);
    /* background-color: var(--green); */
}

.content-left-title {
    font-size: var(--text-3xl);
}

/* form */
.content-left-form {
    overflow: scroll;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--sz-7);
}

.form-element-special {
    display: flex;
    row-gap: var(--sz-1);
    column-gap: var(--sz-6);
    flex-wrap: wrap;
}

.form-element-normal {
    display: flex;
    gap: var(--sz-1);
}

.content-left-form label,
.form-element-special p {
    font-size: var(--text-lg);
    color: var(--primary-color-dark);
    font-weight: 500;
    width: var(--sz-40);
}


.form-element-special-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sz-1-half);
}

.form-element-special p {
    width: 100%;
}

.content-left-form input,
.content-left-form textarea,
.content-left-form select {
    flex-grow: 1;
    background-color: var(--cream);
    color: var(--primary-color-dark);
    font-size: var(--text-base);
    padding: var(--sz-3) var(--sz-3);

    border-radius: var(--sz-1);
    border: 2px solid transparent;

    outline: none;
    transition: all .2s ease;

}

/* select style */
.select-wrapper {
    /* width: 100%; */
    flex-grow: 1;
    position: relative;

}

.content-left-form select {
    /* needed */
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.content-left-form select::-ms-expand {
    /* For IE */
    display: none;
}

.content-left-form .select-wrapper:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d7";
    font-size: var(--text-xl);

    color: #333;

    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: var(--sz-3);

    padding: 0 0 2px;

    pointer-events: none;
}

/* checkbox style */
.content-left-form input[type="checkbox"],
.content-left-form input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: var(--cream);
    /* Not removed via appearance */
    margin: 0;

    position: relative;
    font: inherit;
    width: var(--sz-4);
    height: var(--sz-4);
    /* transform: translateY(-0.075em); */

    display: grid;
    place-content: center;
}

.content-left-form input[type="checkbox"] {
    border-radius: 0.15em;
}

.content-left-form input[type="radio"],
.content-left-form input[type="radio"]::before {
    border-radius: 50%;
}

.content-left-form input[type="checkbox"]::before,
.content-left-form input[type="radio"]::before {
    content: "";
    width: var(--sz-4);
    height: var(--sz-4);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--pink);
}

.content-left-form input[type="checkbox"]:checked::before,
.content-left-form input[type="radio"]:checked::before {
    transform: scale(1);
}

/* textarea style */
.content-left-form textarea {
    resize: vertical;
    /* user can resize vertically, but width is fixed */
    min-height: var(--sz-20);
    max-height: var(--sz-72);
}

/* place holder */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--gray);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--gray);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--gray);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: var(--gray);
}

/* Validation */

.content-left-form input:required:focus:valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% var(--green);
    background-size: 25px;
}

.content-left-form input:not([type="checkbox"]):focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% var(--orange);
    background-size: 25px;
}

.content-left-form input[type="checkbox"]:focus:invalid {
    border-color: var(--red);
    background-color: var(--orange);
}

/* button */
.content-left-form-btns {
    display: flex;
    justify-content: flex-start;
    gap: var(--sz-3);
    align-items: center;
}

.content-left-form-btns>button {
    padding: var(--sz-2-half) var(--sz-8);
    font-size: var(--text-lg);
}

/* submit */
.contact-submit {
    width: fit-content;

    border-color: var(--gray);
    color: var(--primary-color-dark);
    background-color: var(--cream);
}

.contact-submit-bck {
    background-color: var(--primary-color-dark);
}

/* hover */
.contact-submit:hover,
.contact-submit:focus {
    color: var(--white);
    border-color: var(--primary-color-dark);
}

/* reset */
.contact-reset {
    /* background-color: transparent; */
    background-image: linear-gradient(to left, var(--pink), var(--cream) 50%, var(--cream) 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: var(--primary-color-dark);

    position: relative;
    border-radius: 9999px;
    /* border: 2px solid var(--primary-color-dark); */
    border: 2px solid var(--primary-color-dark);
    transition: all .2s ease-in;
    overflow: hidden;
}

.contact-reset-effect {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 3px;
    bottom: 0;
    background-color: var(--primary-color-dark);
    /* transform: translateX(-101%); */
    transition: transform .2s ease-in 0.16s;
}

.contact-reset:hover {
    background-position: 0 100%;
}

.contact-reset:hover .contact-reset-effect {
    /* transform: translateX(0); */
    transform: translateX(-101%);
}



/* hover */
.content-left-form input:hover,
.content-left-form textarea:hover,
.content-left-form select:hover {
    border-color: var(--gray);
}

/* focus */
.content-left-form input:focus,
.content-left-form textarea:focus,
.content-left-form select:focus {
    border-color: var(--brown);
    /* border: 2px solid var(--brown); */
}

@media screen and (max-width: 1536px) {

    .content-right-img {
        width: 75%;
    }

    .content-left {
        width: 45%;
    }

    .content-left-form label {
        width: var(--sz-32);
    }
}

@media screen and (max-width: 1240px) {

    .content-right-img {
        width: 85%;
    }

    .content-left {
        width: 58%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background: linear-gradient(-48deg, var(--dark-brown) 30%, var(--dark-tan) 40%, var(--white) 30%);
    }

    .content {
        position: relative;
        justify-content: flex-start;
        height: 90vh;
    }

    .content-right {
        position: absolute;
        right: 0;
        bottom: 0;
        justify-content: flex-end;
        pointer-events: none;
    }

    .content-right-img {
        width: 50%;
    }

    .content-left {
        width: 70%;
        padding: var(--sz-10) var(--sz-12);
        /* z-index: 1; */
    }

    .form-element-normal {
        flex-direction: column;
    }

    .content-left-form label,
    .form-element-special p {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        background: linear-gradient(0deg, var(--dark-brown) 55%, var(--white) 30%);
    }

    .content {
        justify-content: center;
    }

    .content-right-img {
        width: 40%;
    }

    .content-left {
        align-self: flex-start;
        width: 100%;
        height: 98%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: var(--sz-8) var(--sz-7);
        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    }
}

@media screen and (max-width: 490px) {
    .content-right-img {
        width: 50%;
    }
}